Handling Imbalanced Dataset 

1.Up Sampling 
2.Down Sampling

In [2]:
import pandas as pd
import numpy as np
##set the random seed for reproducibility 
np.random.seed(123)

#create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [ ]:
##creation Dataframe with Imbalanced Dataset 

# Generates n_class_0 random numbers
# Follows a normal (Gaussian) distribution
# Mean (loc) = 0
# Standard deviation (scale) = 1
# Example values: -0.2, 0.4, 1.2, -1.1…
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [6]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -0.300232   0.667532       0
1  -0.632261   0.100458       0
2  -0.204317  -0.012610       0
3   0.213696   0.219907       0
4   1.033878   0.813623       0

In [8]:
df.tail()

     feature_1  feature_2  target
995  -1.561866   2.540514       1
996  -0.767819  -0.082706       1
997   0.387223   0.444621       1
998  -1.212918   1.896404       1
999   2.018714   0.237581       1

In [ ]:
##upsampling 
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]
df_majority

     feature_1  feature_2  target
0    -0.300232   0.667532       0
1    -0.632261   0.100458       0
2    -0.204317  -0.012610       0
3     0.213696   0.219907       0
4     1.033878   0.813623       0
..         ...        ...     ...
895   0.356445  -0.486628       0
896  -0.266376  -0.818430       0
897   0.804753  -1.138029       0
898  -1.750640   1.062592       0
899   1.539891  -0.831040       0

[900 rows x 3 columns]

In [10]:
df_minority

     feature_1  feature_2  target
900  -0.367419   1.300921       1
901   0.575273  -0.930652       1
902   0.439351  -0.851313       1
903  -0.728152   0.136584       1
904  -0.888530  -0.424254       1
..         ...        ...     ...
995  -1.561866   2.540514       1
996  -0.767819  -0.082706       1
997   0.387223   0.444621       1
998  -1.212918   1.896404       1
999   2.018714   0.237581       1

[100 rows x 3 columns]

In [ ]:
pip install scikit-learn

In [13]:
import sklearn

In [14]:
##resample by taking the minority data,replace=tRUE can pick row multiple times
#random_state=42 everytime gives same result
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
                               n_samples=len(df_majority),
                               random_state=42)

In [15]:
df_minority_upsampled.shape

(900, 3)

In [16]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [22]:
import pandas as pd 
#set the random seed for reproducibility 
np.random.seed(123)
n_samples=1000
n_class_ratio=0.9
n_class_0=int(n_samples*n_class_ratio)
n_class_1=n_samples-n_class_0

In [23]:
n_class_0,n_class_1

(900, 100)

In [27]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1   
})

In [29]:
df1=pd.concat([class_0,class_1]).reset_index(drop=True)

In [30]:
print(df1['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [33]:
df_majority=df[df['target']==0]
df_minority=df[df['target']==1]

In [34]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,
                                 n_samples=len(df_minority),
                                 random_state=42)

In [35]:
df_majority_downsampled.shape

(100, 3)