Data Encoding 
1.Nominal/OHE encoding=One-Hot Encoding is a technique that converts categorical values into numerical format by creating a separate binary column for each unique category. Each category is represented as 1 (present) or 0 (absent).


2.Label and ordinal encoding 


3.Target Guided ordinal Encoding

In [1]:
##1.Nominal/OHE Encoding 
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
##creation of simple dataframe
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [7]:
df['color']

0      red
1     blue
2    green
3    green
4      red
5     blue
Name: color, dtype: object

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
#instances of OneHotEncoder 
encoder=OneHotEncoder()

In [8]:
##perform fit and transform 
encoded=encoder.fit_transform(df[['color']]).toarray()
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [11]:
import pandas as pd 
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [12]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [13]:
##for new data 
encoder.transform([['blue']]).toarray()

c:\Users\Dharani\Downloads\kovai.co\myenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [15]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [16]:
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Label Encoding is a technique that converts categorical text values into numerical labels by assigning each unique category an integer (e.g., red → 0, blue → 1),labels assigned in alphabetical order or based on frequency of the categories

In [17]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [19]:
from sklearn.preprocessing import LabelEncoder 
lbl_encoder=LabelEncoder()

In [22]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\Dharani\Downloads\kovai.co\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [23]:
lbl_encoder.transform([['red']])

c:\Users\Dharani\Downloads\kovai.co\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

OrdinalEncoding:
encode categorical data that have an instrinctic order or ranking.
each category is assigned a numerical value based on its position in the order

In [26]:
##ordinal encoding 
from sklearn.preprocessing import OrdinalEncoder

In [27]:
#creation of sample dataframe
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [28]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [29]:
#creation of instances of ordinal encoder 
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [30]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [31]:
encoder.transform([['small']])

c:\Users\Dharani\Downloads\kovai.co\myenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])